:host {
    width: 42%;
    min-width: 270px;
}

.search-element {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    &-form {
        width: 100%;

        &-term {
            height: 54px;
            width: calc(100% - 54px);
            border: 3px solid #3fb0ac;
            padding: 5px;
            padding-left: 20px;
            border-radius: 10px 0 0 10px;
            outline: none;
            color: #9dbfaf;
            font-size: 1em;
            font-weight: 600;
        }
    
        &-term:focus{
            color: #173e43;
        }
    
        &-button {
            height: 54px;
            width: 54px;
            padding: 5px 6px;
            margin-top: -4px;
            vertical-align: middle;
            cursor: pointer;
            background-color: #3fb0ac;
            color: #fff;
            border: 3px solid #3fb0ac;
            border-radius: 0 10px 10px 0;
        }
    }
}