<div class="search-element">
  <form class="search-element-form" [formGroup]="form">
    <input class="search-element-form-term" type="text" formControlName="restaurantFilter" placeholder="Search your hummus">
    <button class="search-element-form-button" aria-label="Search" (click)="searchHummus(hummusFilter)">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>