$defaultMargin: 1em 2em;

.list-container {
  display: flex;
  flex-direction: row;

  .last-searches {
    width: 34%;
    margin: $defaultMargin;
    border-right: 2px solid rgba($color: #000, $alpha: 0.55);

    &-list {
      display: flex;
      flex-direction: column-reverse;

      .mat-list-icon {
        color: rgba(0, 0, 0, 0.34);
      }
      &-item {
        cursor: pointer;
      }
    }
  }

  .restaurant-list {
    display: flex;
    flex-direction: column;
    margin: $defaultMargin;
    width: 66%;
  }

  .error {
    margin: $defaultMargin;
  }
}
