<div class="list-container">
  <div class="last-searches">
    <h3>Last searches:</h3>
    <mat-list class="last-searches-list">
      <mat-list-item class="last-searches-item" *ngFor="let search of (activeRestaurantsState | async).pastSearches"
        (click)="searchHummus(search.value)">
        <mat-icon mat-list-icon>search</mat-icon>
        <h4 mat-line>{{ search.value }}</h4>
        <p mat-line> {{search.date | date:'short' }}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="restaurant-list" *ngIf="(activeRestaurantsState | async).activeRestaurants.length; else errorMessage">
    <app-restaurant-item *ngFor="let place of (activeRestaurantsState | async).activeRestaurants" [place]="place">
    </app-restaurant-item>
  </div>
  <ng-template #errorMessage>
    <div class="error">
      <h3 *ngIf="pastSearches.length > 0">No restaurants in our database to match your
        search</h3>
      <h3 *ngIf="pastSearches.length === 0">Lets get started!</h3>
    </div>
  </ng-template>
</div>