$coolBeige: #e9ebe1;

.main-container {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  padding-bottom: 1em;
  background-color: $coolBeige;

  h1 {
    color: #222;
  }
  &-title {
    text-align: center;
    margin: 80px auto 60px;
    width: 320px;
  }
  .search {
    margin: 2em 0 3em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
