<div class="main-container">
    <div class="main-container-title">
        <img src="../assets/logo.png" alt="Hummuli">
        <h2>Find the right one for you</h2>
    </div>
    <div class="search">
        <app-searchbar></app-searchbar>
    </div>
    <app-restaurant-list></app-restaurant-list>
</div>