<mat-card class="item">
  <mat-card-header>
    <mat-card-title>{{ place.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <h4>{{ place.description }}</h4>
    <p>Location: {{ place.location }}</p>
    <a href="www.google.com">Website</a>
  </mat-card-content>
</mat-card>