/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Cabin:700i|Ubuntu:500i");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  height: calc(100% - 40px);
  display: block;
  margin: 40px 40px 0 40px;
  background-color: #fff;
}

.edit-dialog .mat-dialog-container,
.delete-dialog .mat-dialog-container {
  padding: 0;
  // width: 900px;

  .mat-dialog-content {
    margin: 0;
    padding: 1em 1.5em;
  }
}

.mat-darkTurquoiseButton {
  color: #2c6f77;
}

.mat-darkTurquoiseToolbar {
  background-color: #2c6f77;
  color: #eee;
}

.mat-lightTurquoiseButton {
  color: #3fb0ac;
}